{% extends 'base.html.twig' %}

{% block body %}
    <div class="registerForm">
        <br><br>

        <h2 class="centerText">My Profile</h2>

        <div style="padding: 20px; border: none; background: grey;">
            <img class="w3-circle" src="{{ asset('uploads/images/profiles/' ~ user.image) }}" width="300" height="300"
                 alt="Oops! You haven't set your profile picture. You can do it when you visit &quot;Edit Profile&quot; .">
        </div>

        <div class="profile" style="padding: 20px; border: none; background: grey;">
            <h1>Hello , {{ user.name }}!</h1>
            <h1>your username is: {{ user.username }}</h1>
            <h1>your email is: {{ user.email }}</h1>
            <div style="background: #1E90FF; float:right ">
                <a href="{{ path('my_posts') }}"
                   class=" w3-button w3-hide-small w3-padding-large w3-hover-grey" style="color: white">All Posts</a>
                <a href="{{ path('user_edit_profile') }}"
                   class=" w3-button w3-hide-small w3-padding-large w3-hover-grey" style="color: white">Edit
                    Profile</a>
                <a href="{{ path('user_edit_password') }}"
                   class=" w3-button w3-hide-small w3-padding-large w3-hover-grey" style="color: white">Change
                    Password</a>
                <a href="{{ path('user_edit_username') }}"
                   class=" w3-button w3-hide-small w3-padding-large w3-hover-grey" style="color: white">Change
                    Username</a>
            </div>
        </div>

        <br><br>

        <div align="center">
            <button type="button" style="padding: 0; margin: 5px; border: solid #1E90FF; background: #1E90FF;">
                <a href="{{ path('current_cars') }}">
                    <img src="{{ asset('currentCars.jpg') }}" alt="Save icon"/>
                    <br/>Current Car
                </a>
            </button>

            <button type="button" style="padding: 0; margin: 5px; border: solid #1E90FF; background: #1E90FF;">
                <a href="{{ path('previous_cars') }}">
                    <img src="{{ asset('previousCars.jpg') }}" alt="Save icon"/>
                    <br/>Previous Cars
                </a>
            </button>
        </div>
    </div>

{% endblock %}

