{% extends 'base.html.twig' %}

{% block body %}
    <form class="centerText" enctype="multipart/form-data" action="{{ path('edit_previous_car', {id: previousCar.id}) }}" method="post">
        <div class="registerForm">
            <h1>EDIT YOU PREVIOUS CAR</h1>
            <h3>To edit your previous car you need to fill this fields.</h3>
            <hr>


            <label for="previous_car_make"><b>Make</b></label>
            <label>
                <input type="text" id="previous_car_make" placeholder="Make" name="previous_car[make]"
                       value="{{ previousCar.make }}" required>
            </label>

            <label for="previous_car_model"><b>Model</b></label>
            <label>
                <input type="text" id="previous_car_model" placeholder="Model" name="previous_car[model]"
                       value="{{ previousCar.model }}" required>
            </label>

            <label for="previous_car_engine"><b>Engine</b></label>
            <label>
                <input type="text" id="previous_car_engine" placeholder="Engine" name="previous_car[engine]"
                       value="{{ previousCar.engine }}" required>
            </label>

            <label for="previous_car_year"><b>Year</b></label>
            <label>
                <input type="text" id="previous_car_year" placeholder="Year" name="previous_car[year]"
                       value="{{ previousCar.year }}" required>
            </label>

            <label for="previous_car_description"><b>Description</b></label>
            <label>
                <textarea class="description" id="previous_car_description" placeholder="Description"
                          name="previous_car[description]"
                          required>{{ previousCar.description }}</textarea>
            </label>

            <label for="previous_car_image"><b>Upload Image</b></label>
            <label>
                <input accept=".jpg, .jpeg, .png" type="file" id="previous_car_image" value="{{ previousCar.image }}"
                       name="previous_car[image]" class="file">
            </label>
            <hr>

            <button type="submit" class="btn btn-primary">EDIT CAR</button>

            {#                        {{ form_row(form._token) }}#}
        </div>
    </form>
{% endblock %}

